body {
    display: flex;
    flex-flow: column;
}

input {
    padding: 10px;
    width: 1200px;
}

label, nav {
    width: 1200px;
}

nav {
    margin: 10px;
}

canvas {
    width: 100%;
    height: 100%;
}
