* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
    height: 600px;
    width: 800px;
}
